/* rem and em do not respond to html font-size in media queries
1rem = 1em = 16px */

/* BELOW 1344px (Smaller Desktops) */

@media (max-width: 84em) {
    .hero-container {
        max-width: 120rem;
    }

    .hero-headline {
        font-size: 4.4rem;
    }
}

/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 75.5em) {
    html {
        /* 9px / 16px = 56.25% */
        font-size: 56.25%;
    }

    .padding-left {
        padding-left: 3.2rem;
    }

    .padding-right {
        padding-right: 3.2rem;
    }

    .padding {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .gallery-section {
        grid-template-columns: repeat(2 , 1fr);
    }

    .meals-main {
        gap: 4.8rem;
    }

    .big-headings {
        font-size: 3.6rem
    }

    header {
        padding: 0 3.2rem;
    }

    .hero-container {
        column-gap: 4.8rem;
    }

    .nav-list {
        gap: 3.2rem;
    }

    .small-headings {
        font-size: 2.4rem;
    }

    .cta-head {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }

    .testimonials-section {
        padding: 9.6rem 3.2rem;
    }

    .cta {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    /* .sign-up-btn input {
        padding: 1.1rem 26.4rem;
    } */
}

/* CTA IMAGE 840px */
/* 
@media (max-width: 52.5em) {
    .cta-img {
        display: none;
    }

    .cta-container {
        grid-template-columns: 1fr;
    }

    .form {
        column-gap: 2.6rem;
    }

    .sign-up-btn input {
        padding: 1.1rem 15.4rem;
    }
} */

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {
    html {
        /* 8px / 16px = 50% */
        font-size: 50%;
    }

    .small-headings {
        font-size: 2rem;
    }
    /*
    .hero-headline {
        font-size: 3.6rem;
    } */

    .hero-container {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        row-gap: 6.4rem;
    }

    .hero-img {
        width: 60%;
    }

    .hero-text-box, .hero-image-box {
        text-align: center;
    }
    
    .customers-imgs {
        justify-content: center;
        margin-top: 3.2rem;
    }

    .logos {
        height: 2.4rem;
    }

    .heading-01 {
        font-size: 6.8rem;
    }

    .meals-main {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
        gap: 4.2rem;
    }

    .diet-heading {
        font-size: 2rem;
        align-self: center;
        margin-bottom: 1.6rem;
    }

    .hero-description {
        margin-bottom: 4rem;
    }

    .meals-list {
        gap: 1.4rem;
    }

    .meals-box-heading {
        margin-bottom: 2rem;
        padding: 0 4.2rem;
    }

    .meals-box li {
        padding: 0 4.2rem;
    }

    .meals-img {
        margin-bottom: 2.6rem;
    }

    .testimonials-gallery-container {
        grid-template-columns: 1fr;
    }

    .gallery-section {
        grid-template-columns: repeat(6, 1fr);
    }

    .testimonials-section {
        padding-bottom: 8.4rem;
    }

    .price-box {
        width: 75%;
    }

    .price {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }

    .includes {
        gap: 3.4rem;
    }

    .cta-container {
        /* grid-template-columns: 3fr 2fr; */
        margin-top: 0;
    }

    .includes {
        margin-bottom: 9.6rem;
    }

    .form {
        grid-template-columns: 1fr;
    }

    /* .sign-up-btn input {
        padding: 1.1rem 30.4rem;
    } */

    .mobile-nav-btn {
        display: block;
        z-index: 1000;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        transform: translateX(100%);

        /* transitions dont work on display none */
        /* display: none; */
        opacity: 0;

        /* make it unaccessible to mouse and kyboard click */
        pointer-events: none;

        /* hide it from screen readers */
        visibility: hidden;
    }

    .nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name='close-outline'] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name='menu-outline'] {
        display: none;
    }

    .nav-links:link,
    .nav-links:visited {
        font-size: 3rem;
    }

    .cta {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }
}   

/* BELOW 704px (Smaller Tablets) */

@media (max-width: 44em) {
    .meals-main {
        grid-template-columns: 1fr 1fr;
    }

    .meals-box {
        justify-self: center;
    }

    .diet-list {
        grid-column: span 2;
        justify-self: center;
    }
    
    .all-recipes:link,
    .all-recipes:visited {
        transform: translate(-50%, 150%);
    }

    .testimonials-gallery {
        margin-top: 14rem;
    }

    .small-headings {
        margin-bottom: 4.8rem;
    }

    .fuck {
        text-align: center;
    }

    .section-works {
        column-gap: 6.2rem;
        row-gap: 6.8rem;
    }

    .logos {
        height: 2rem;
    }

    .big-headings {
        font-size: 3rem;
    }

    .price-box {
        width: 100%;
    }

    .price {
        gap: 3.2rem;
    }

    .includes {
        column-gap: 3.8rem;
        row-gap: 2rem;
    }

    .cta-container {
        grid-template-columns: 3fr 2fr;
    }

    .footer-container {
        grid-template-columns: repeat(6 ,1fr);
        column-gap: 4.8rem;
        row-gap: 6.2rem;
    }

    .nav-footer {
        grid-row: 1;
        grid-column: span 2;
    }

    .other-2 {
        grid-column: span 3;
    }

    .cta-img-container {
        display: none;
    }

    .cta-container {
        grid-template-columns: 1fr;
    }

    .cta-head {
        /* width: 100%; */
        padding: 4.4rem 3.2rem;
    }

    .input-field {
        padding: 1.2rem;
    }

    .price-btn {
        text-align: center;
    }

    .cta-text-box {
        padding: 3.2rem;
    }

    .cta {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    /* .sign-up-btn input {
        padding: 1.1rem 30.4rem;
    } */

    .form {
        display: block;
        /* grid-template-columns: 1fr;
        align-items: center; */
    }

    .cta-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 3.2rem; */
    }

    .box-fuck,.cta-head,.form,.input {
        min-width: 0;
    }

    .input {
        margin-bottom: 3rem;
    }

    .featured-in {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}   

/* BELOW 544px (Mobile) */

@media (max-width: 34em) {
    .grid-2-columns {
        grid-template-columns: 1fr;
    }

    .meals-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price {
        grid-template-columns: 1fr;
    }

    .includes {
        grid-template-columns: 1fr;
    }

    .cta-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .cta-head {
        flex-shrink: 1;
    }

    .form {
        display: block;
        /* grid-template-columns: 1fr;
        align-items: center; */
    }

    /* .input {
        flex-shrink: 1;
    } */
    
    .cta-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 3.2rem; */
    }

    .cta-head {
        padding: 0;
    }

    .cta-container {
        padding: 3.6rem;
    }

    .box-fuck,.cta-head,.form,.input {
        min-width: 0;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    /* .sign-up {
        width: 100%;
        padding: 1.2rem;
    } */

    .hero-container {
        padding: 0 3rem;
    }

    .hero {
        padding: 2.6rem 0 6.4rem 0;
    }

    .hero-btn:link, .hero-btn:visited {
        padding: 2.4rem 1.6rem;
    }

    .hero-img {
        width: 80%;
    }

    .logos {
        height: 1.2rem;
    }

    .works-img-box-1 {
        grid-row: 1;
    }

    .works-img-box-3 {
        grid-row: 5;
    }

    .works-img-box {
        transform: translateY(2.4rem);
    }

    .meals-box {
        margin: 0;
    }

    .meals-main {
        gap: 4.6rem;
    }

    .all-recipes:link,
    .all-recipes:visited {
        transform: translate(-50%, 250%);
    }

    .testimonials-text {
        grid-template-columns: 1fr;
    }

    .gallery-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }

    .price-end {
        padding: 0 2.6rem;
    }
}